page-simple-deals {



.no-scroll .scroll-content{
  background-color: rgb(230, 230, 230);
  margin: 0 !important;
}

ion-footer {
  background-color: #ffff;
      border-radius: 13px;
      width: 391px;
      margin-left: 10px;

}
.no-child{
  height: 100%;
  display: flex !important;
  align-items: center;
}
.first,.slide-content,.dateInWords{
  float: left;
}
.addCSS{
  margin: 56px 0;
}
// .addBottomCSS{
//   margin-bottom: 70px;
// }

.dateInWords :first-child{
    margin-top:45px;
}
.first{
  height: auto;
  margin-top: 30px;
}
.bottom-text{
  clear: both;
    text-align: left;
    padding: 10px 16px;
    width: 80%;
    max-height: 55px;
    overflow: hidden;
}
.card-background-page {

  ion-card {

    width : 100%;
    position: relative;
    text-align: center;
    margin-top: 0px;
    box-shadow: 0px 0px 5px 2px grey;
    margin-right: 0px;
    margin-left: 0px;
  }

}

.first-card{
  border-radius: 10px;
  margin-top: 63px;
}


.background {
    width: 100%;
  background-color: #BDC3C7;
}

.dash {
  border-radius: 15px;
  top: 0;
  display: flex;
  justify-content: center;
}

.panel{
    border-radius: 13px;
    height: 160px;
    position: relative;
    margin-top: 10px;
    // margin-left:108px;
    // margin-right: 100px;
    box-shadow: 0px 0px 5px 2px grey;
    background-color: #B7A3DC;
    width: 100%;
}

.ci {
    border-radius: 10px;
    margin-top: -21px;
  height:190px;
  margin-bottom: 6px;
}

.ic {
  margin-left: 302px;
    margin-top: -22px;
}

.ss{
  margin-top: 50px;
}

.cii {
    border-radius: 10px;
  height: 170px;
  margin-bottom: 6px;
}

.pp {
  margin: 6px;
  font-size: 21px;
}

.di {
  background-color: #C6C9F4;
}

.image {
    border-radius: 50%;
    margin-top:5px;
    margin-left: 10px;
    margin-top: 40px;
}


.name {
    color: #FFFFFF;
    position: absolute;
  margin-left: 70px;
  margin-top: -55px;
  font-size: 19px;
}

.age {
  color: #FFFFFF;
  position: absolute;
    margin-left: -70px;
  margin-top: -32px;
  font-size: 14px;
}

.due {
    color: #FFFFFF;
  position: absolute;
  margin-left: 263px;
  font-size: 20px;
  margin-top: -21px;
}

.duee {
    color: #FFFFFF;
  postion: absolute;
  margin-top: -8px;
  margin-left: 250px;
  font-size: 21px;
}

.j1{
  margin-top: -2px;
  margin-left: -190px;
  font-size: 13.5px;
  color: #FFFFFF;
}

.j2{
  margin-top: -2px;
  margin-left: -210px;
  font-size: 13.5px;
  color: #FFFFFF;
}

.circle {
  margin-left:10px;
  // margin-top: -15px;
}   

.dot {
    height: 9px;
    width: 9px;
    background-color: #B7A3DC;
    border-radius: 50%;
    display: inline-block;
}

.do {
  margin-top: -65px;
  margin-left: 185px;
}

.di {
    font-size: 15px;
    margin-top: -17.6px;
    background-color: #FFFFFF;
    margin-left: 100px;
}

.ad {
  postion:absolute;
      background-color: #FFFFFF;
}

.ciii{
  border-radius: 10px;
  margin-bottom: 61px;
}

.pti{
      position: relative;
      border-radius: 10px;
      background-color: #B7CBF9;
      height: 110px;
      width: 320px;
      margin-top: 8px;
      margin-left: 10px;
      

}

.oo{
  postion: absolute;

}
.oo1{
  position: relative;
  margin-left: 7px;
}
.oo2{
  position: relative;
  margin-left: 250px; margin-top: -25px;
}
.i1{
  postion: absolute;

}

.ii1{
  position: relative;
  margin-left: 7px;
}
.ii2{
  position: relative;
  margin-left: 250px; margin-top: -25px; 
}
.ii3{
  margin-top: 10px;
  postion: relative;
}
.ii4{
  position: relative;
   margin-top: 15px; margin-left: 10px;
}

.im1 {
  margin-left: 80px;
  height: 50px;
}

.im2 {
  margin-left: 0px;
  height: 50px;
}

.my-slider{
  ion-slide{
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px grey;
    background-color: #B7A3DC;
    height: 138px;
    ion-list{
        margin-bottom: 0;
        border: none;
        height: 100%;
        & *{
          border: none;
          background-color: transparent !important;
        }
    }
}
}

}
