page-simple-deals {



.no-scroll .scroll-content{
    overflow: hidden;
      background-color: #BDC3C7;

}

ion-footer {
  background-color: #ffff;
      border-radius: 13px;
      width: 391px;
      margin-left: 10px;

}

.card-background-page {

  ion-card {

    width : 100%;
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}


.background {
    width: 100%;
  background-color: #BDC3C7;
}

.dash {
  postion: absolute;
  border-radius: 15px;
}

.panel{
    border-radius: 13px;
    height: 130px;
    postion: relative;
    margin-top: 0px;
    margin-left:27px;
  width: 295px;
  background-color: #B7A3DC;
}

.ci {
    border-radius: 10px;
    margin-top: -21px;
  height:150px;
  margin-bottom: 6px;
}

.ic {
  margin-left: 302px;
    margin-top: -22px;
}

.ss{
  margin-top: 50px;
}

.cii {
    border-radius: 10px;
  height: 150px;
  margin-bottom: 6px;
}

.pp {
    margin-top: 3px;
    margin-left: 6px;
  font-size: 21px;
  font-weight: 450;
}

.di {
  background-color: #C6C9F4;
}

.image {
    border-radius: 50%;
    margin-top:5px;
    margin-left: 7px;
}

.image {
  postion: absolute;
}

.name {
    color: #FFFFFF;
    position: absolute;
  margin-left: 70px;
  margin-top: -55px;
  font-size: 19px;
}

.age {
  color: #FFFFFF;
  postion: absolute;
    margin-left: -70px;
  margin-top: -32px;
  font-size: 14px;
}

.due {
    color: #FFFFFF;
  postion: absolute;
  margin-left: 263px;
  font-size: 20px;
  margin-top: -21px;
}

.duee {
    color: #FFFFFF;
  postion: absolute;
  margin-top: -8px;
  margin-left: 250px;
  font-size: 21px;
}

.j1{
  margin-top: -2px;
  margin-left: -190px;
  font-size: 13.5px;
  color: #FFFFFF;
}

.j2{
  margin-top: -2px;
  margin-left: -210px;
  font-size: 13.5px;
  color: #FFFFFF;
}

.circle {
  margin-left:10px;
  margin-top: -15px;
}   

.dot {
    height: 9px;
    width: 9px;
    background-color: #B7A3DC;
    border-radius: 50%;
    display: inline-block;
}

.do {
  margin-top: -65px;
  margin-left: 185px;
}

.di {
    font-size: 15px;
    margin-top: -17.6px;
    background-color: #FFFFFF;
    margin-left: 100px;
}

.ad {
  postion:absolute;
      background-color: #FFFFFF;
}

.ciii{
  border-radius: 10px;
  height: 150px;
}

.pti{
      position: relative;
      border-radius: 10px;
      background-color: #B7CBF9;
      height: 110px;
      width: 320px;
      margin-top: 8px;
      margin-left: 10px;
      

}

.oo{
  postion: absolute;

}
.oo1{
  position: relative;
  margin-left: 7px;
}
.oo2{
  position: relative;
  margin-left: 250px; margin-top: -25px;
}
.i1{
  postion: absolute;

}

.ii1{
  position: relative;
  margin-left: 7px;
}
.ii2{
  position: relative;
  margin-left: 250px; margin-top: -25px; 
}
.ii3{
  margin-top: 10px;
  postion: relative;
}
.ii4{
  position: relative;
   margin-top: 15px; margin-left: 10px;
}

.im1 {
  margin-left: 80px;
  height: 50px;
}

.im2 {
  margin-left: 0px;
  height: 50px;
}



}
