<!--
  Generated template for the FetchdataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true" color="primary">
      <ion-buttons left>
          <button ion-button icon-only (click)="goBack()">
           <ion-icon style="color:white" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
         </button>
         </ion-buttons>
    <ion-title>My Child</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="deals">
    <ion-item *ngFor="let x of deals" style="background-color:rgba(0, 0, 0, 0.082);">
      <ion-thumbnail item-left (click)="tour1($event, x)">
        <img [src]="x.photo || './assets/imgs/baby.png'">
      </ion-thumbnail>
      <h2 class="hh" (click)="tour1($event, x)">{{x?.name}}</h2>
      <p (click)="tour1($event, x)">{{x?.city}}</p>
      <ion-badge  color="success" *ngIf="x.gender == 'male'">Male</ion-badge>
      <ion-badge  color="success" *ngIf="x.gender == 'female'">female</ion-badge>
      <ion-badge  color="success" *ngIf="x.gender == 'x'">X</ion-badge>
      <div item-right class="my-buttons">
        <ion-badge  color="success" (click)="editDeal(x)" style="margin-bottom:5px">Edit</ion-badge>
        <ion-badge  color="success" (click)="deleteChild(x.id)">Delete</ion-badge>

      </div>
    </ion-item>
  </ion-list>
 <!--  <ion-fab right bottom (tap)="addDeal()">
      <button ion-fab color="primary" icon-only><ion-icon name="add-circle" color="light"></ion-icon></button>
  </ion-fab> -->
</ion-content>

<ion-footer>

</ion-footer>
