page-add-deal {

	ion-content{
		overflow: hidden;
	}
    
ion-title {
    margin-right: 47px;
    text-align: center;

}

.complete{
	margin-top: 20px;
}
.rcorners2 {
margin-left: 13px;
    border-radius: 25px;
    border: 2px solid #CACFD2;
    width: 320px;
    height: 50px;    
}

.inp {
	margin-left: 13px;
}

//ion-input {
  //  ::placeholder{
    //    color:#CACFD2 !important;
    //}
//}

.ent{
margin-top: 7.4px;
	width: 30px;
	height: 51.5px;
	margin-left: 69px;
}
.forgot{
	margin-top: 20px;
	color: #AAB7B8  ;
}

.tick{
	height: 45px;
	width: 45px;
	margin: 0 auto;
}

.lastbtn{
	background-color: transparent;
	width: 100%;
}

.imgx{
	margin: 5px auto;
}
.johny{
	margin-left:137px;
}
.month{
	margin-left:146px;
}

.male{
	margin-left: 100px;
	margin-top: 35px;
}

.female{
	margin-left: 180px;
	margin-top: -60px;
}

.sd {
	height: 340px;
}
}
